<div th:fragment="sidebar" class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">
    <h4 class="mb-4">Sistema Compras</h4>

    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/departamento">Departamento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="/proveedor">Proveedor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Artículo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Unidad de Medida</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">Orden de Compra</a>
        </li>
    </ul>
</div>